.name {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.name__anna {
    display: inline;
    color: black;
}

.name__anna::before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: blue;
}

.name__beksultan {
    display: inline;
    color: black;
}

.name__beksultan::before {
    content: "";
    width: 20px;
    height: 20px;
    display: inline-block;
    background-color: #2b510b;
}

.container {
    width: 100%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(2 1fr);
    grid-template-rows: auto;
}